.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.full-width {
    width: 100%;
}

.block-1 {
    width: 100%;
}

.block-2 {
    width: 100%;
}

@media (min-width: 768px) {
    .block-1 {
        width: 35%;
    }
    
    .block-2 {
        width: 65%;
    }
}