.product-item {
    width: 25%;
    padding-bottom: 25%;
    position: relative;
}

.product-item .block {
    position: absolute;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    background-image: var(--image);
    background-position: center;
    background-size: cover;
}

.product-item .label {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: #FFCC21;
    color: #fff;
    padding: 4px 16px;
    z-index: 1;
}