.header-container {
    background-color: #414141;
    padding: 8px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
    width: auto;
}