.header-container {
    background-color: #414141;
    padding: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
    width: auto;
}

.menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu .item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu .item a,
.menu .item a:hover,
.menu .item a:visited {
    color: #ffffff;
    text-decoration: none;
}

.menu .item img {
    height: 20px;
}